# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
+ Scala
+ Python
+ Julia
+ R
+ SQL

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Scipy
2. Numpy
3. Pandas

| Data Science Tools |
| -----              |
|Hadoop             |
|Apache Spark       |
|RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Khalid